@font-face {
  font-family: "Poppins-Bold";
  font-weight: 700;
  src: url("assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  font-weight: 800;
  src: url("assets/fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "Poppins-Italic";
  font-weight: 400;
  src: url("assets/fonts/Poppins-Italic.ttf");
}
.hidden {
  display: none;
}
.card {
  background-color: hwb(0 100% 0%);
  padding: 3rem 1.5rem;
  margin: 1rem;
  border-radius: 1rem 1rem 8rem 1rem;
}
html {
  background-color: hsl(0, 0%, 94%);
  margin: 0;
  font-family: "Poppins-Bold";
}
body {
  width: 96vw;
  height: 95vh;
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputSection label {
  display: flex;
  flex-direction: column;
  color: hsl(0, 1%, 44%);
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}
.inputSection {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 100%;
  height: 50%;
}
.inputSection input {
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 86%);
  font-family: "Poppins-Bold";
  line-height: 2rem;
  width: 3rem;
  padding: 0.1rem 1rem;
  font-size: 1rem;
}

.invalid label {
  color: hsl(0, 100%, 67%);
}
.invalid input {
  border: 1px solid hsl(0, 100%, 67%);
}
.errormsg {
  color: hsl(0, 100%, 67%);
  font-size: 0.7rem;
  letter-spacing: 0;
  width: 6rem;
  font-family: "Poppins-Italic";
  margin: 0.5rem 0 1rem 0;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
hr {
  width: 100%;
  border: 1px solid hsl(0, 0%, 86%);
}
button {
  z-index: 1;
  position: absolute;

  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  border: 0;
  padding: 1rem;
}
button img {
  height: 1.5rem;
}

.result {
  margin: 3rem 0 1rem 0;
  font-family: "Poppins-ExtraBoldItalic";
}
.result h2 {
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 2.5rem;
}
.result h2 span {
  color: hsl(259, 100%, 65%);
}

/* Desktop */
@media (min-width: 500px) {
  .card {
    width: 50%;
    padding: 3rem;
  }
  .inputSection {
    width: fit-content;
    height: fit-content;
  }

  .inputSection input {
    width: 7rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1.5rem 0 0;
  }
  .errormsg {
    width: 8rem;
    height: 1rem;
  }
  .center-button {
    display: flex;
    justify-content: right;
  }
  button img {
    height: 2.5rem;
  }
  .result h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
